{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | SFI</title>
    <link rel="stylesheet" href="https://static.sfi.pl/sfibase/css/bootstrap-d1d2d32db1e6a31f1ffafc93f289252f.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.sfi.pl/favicon/apple-touch-icon-bb690a3fbfaed306fcb2e5a5221cd4d4.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.sfi.pl/favicon/favicon-32x32-a573908c70d42c1036a6b0a419962e37.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.sfi.pl/favicon/favicon-16x16-9c6fa17c1124b427870d5dd971b92b22.png">
    <link rel="shortcut icon" href="https://static.sfi.pl/favicon/favicon-c6fbb7c66198a6b5e262ed72e2ba83d1.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://static.sfi.pl/favicon/browserconfig-e502a15bfa310e3f68fdbcb987212b5a.xml">
    <meta name="theme-color" content="#ffffff">
    {% block head %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">{% block app_name %}SFI{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            {% block navbar_prefix %}{% endblock %}

            <ul class="navbar-nav mr-auto">
                {% block navbar %}
                {% endblock %}
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nav_dropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        {% if request.user.last_name %}
                        {{ request.user.first_name }}
                        {{ request.user.last_name }}
                        {% else %}
                        {{ request.user }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="nav_dropdown">
                        <a class="dropdown-item" href="https://sfi.pl/agenda/">Agenda</a>
                        <a class="dropdown-item" href="https://warsztaty.sfi.pl/">Warsztaty</a>
<!--                        <a class="dropdown-item" href="#">TBA</a>-->
<!--                        <a class="dropdown-item" href="#">TBA</a>-->

                        <div class="dropdown-divider"></div>
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">
                            Panel administracyjny
                        </a>
                        {% endif %}
                        <a class="dropdown-item" href="https://sso.sfi.pl/auth/realms/public/account/">Moje konto</a>
                        <form class="form-inline" name="logoutForm" action="{% url 'oidc_logout' %}" method="post">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Wyloguj się</button>
                        </form>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'oidc_authentication_init' %}" class="btn btn-outline-success my-2 my-sm-0"
                       role="button">Zaloguj się</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<main role="main" class="flex-shrink-0">
    <div class="container" id="content">
        {% for message in messages %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}info{% else %}primary{% endif %} {{ message.tags }}" role="alert">
              {{ message }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 mt-2 bg-dark">
    <div class="container text-center">
        <a href="https://sfi.pl/" class="text-decoration-none">
            <img class="mt-2 mb-3" src="https://static.sfi.pl/sfibase/img/logo-ab97d46bc66b29b9e10b830ae8403884.png"
                 style="height: 5em;" alt="sfi logo">
            <div class="text-muted">Copyright 2019-{% now 'Y' %} Studencki Festiwal Informatyczny</div>
        </a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
